*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:100vw;
    height: 100vh;
}

.main{
    width: 1000px;
    height: 500px;
}

.center{
    width: 800px;
    height: 100%;
}

.item{
    height: 500px;
    display: none;
}

.center img{
    width: 100%;
    height: 100%;
}

.lateral{
    width: 200px;
    height: 100%;
}

.lateral img{
    width: 100%;
    height: 100%;
}

.item.active{
    display: block;
}

.prev, .next{
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 50%;
    cursor: pointer;
    padding: 0 4px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.descrizione{
    color: white;
    position: absolute;
    bottom: 0;
    right: 20px;
}


.item2{
    height: calc(100% / 5);
    width: 100%;
}

.item2{
    opacity: 0.5;
}

.opacity{
    opacity: 1;
    border: 2px solid blue;
}